/guhd
/build/

/debian/.debhelper/
/debian/guhd/
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files

*.test
coverage.out

.DS_Store
Thumbs.db

*.swp
*.swo
*~
.idea/
.vscode/

/.worktrees/
/.agents/

/dist/
